body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  background-color: #fefbee;
  flex-direction: column;
}

.skill-container {
    text-align: center;
    padding: 50px 20px;
    flex: 1;

  }
  .skill-container h1{
    font-family: "Qwigley", cursive;
    font-weight: 400;
    font-size: 100px;
    margin-bottom: 40px;
  }

  /* Wrap the icons in a flex container */
.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill-icons img {
  width: 100px;
  height: 100px;
  box-shadow: 0.3em 0.3em 1em rgba(15, 2, 2, 1);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.skill-icons img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .skill-container h1 {
    font-size: 60px;
  }

  .skill-icons {
    flex-direction: column;
    align-items: center;
  }
}